[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=BarcelonaBus
Exec=BarcelonaBus
Name=BarcelonaBus
# translation example:
# your app name in German locale (de)
Name[de]=BarcelonaBus

